#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #221d1d;
}

.row {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row > div {
  align-self: center;
  justify-content: center;
  margin-right: 30px;
}

.row > *:last-child {
  margin-right: 0;
}